
        .meuNome {
            font-family: Helvetica, sans-serif;
            color: #FF331F;
            text-align: center;
        }

        h2 {
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            color: #FF331F;
        }

        #sobre {
            position: absolute;
            top: 2%;
            right: 600px;
        }

        .descricao {
            position: absolute;
            top: 20%;
            right: 10%;
        }

        body {
            background-color: #0D0106;
            color: #FBFBFF;
            padding: 2.5%;
        }

        strong {
            font-weight: 700;
        }

        .idioma {
            font-size: 26px;
        }

        .poff {
            font-size: 13px;
        }

        .figo {
            font-size: 18px;
        }

        #foto {
            float: left ;
            height: 275px;
            padding: 10px;
            background-color: #FF331F;
        }

        .image-con {
            height: 300px;
            position: relative;
        }

         ul li:nth-child(odd) {
            background-color: #FF331F;
        }