
        .meuNome {
            font-family: Helvetica, sans-serif;
            color: #FF331F;
            text-align: center;
        }

        h2 {
            color: #FF331F;
        }

        #descricao {
            font-family: 'Trebuchet MS', sans-serif;
        }

        body {
            background-color: #0D0106;
            color: #FBFBFF;
        }

        strong {
            font-weight: 700;
        }

        .idioma {
            font-size: 26px;
        }

        .poff {
            font-size: 13px;
        }

        .figo {
            font-size: 18px;
        }

        #foto {
            float: left ;
            height: 275px;
            padding: 10px;
            background-color: #FF331F;
        }

        .image-con {
            height: 300px;
        }

        div{
            border: 2px solid green;
        }